* {
    font-family: 'Comic Sans MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.titlebar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}
.titlebar div {
    padding: 0 2vw;
}